<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ЗАО__Сириус_.Properties.Settings.УП01_ИСПП_5_Демешко_ЕОConnectionString"
            connectionString="Data Source=sql;Initial Catalog=УП01_ИСПП_5_Демешко_ЕО;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>