<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Учебная_практика.Properties.Settings.Попов_СЕ_МДК_01_01ConnectionString"
            connectionString="Data Source=sql;Initial Catalog=Попов_СЕ_МДК_01_01;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Учебная_практика.Properties.Settings.УП__ПМ01_Попов_СЕ_Приемная_комиссия_университетаConnectionString"
            connectionString="Data Source=sql;Initial Catalog=&quot;УП_ ПМ01_Попов_СЕ_Приемная_комиссия_университета&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>