<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Проект.Properties.Settings.УП_ПМ01_ИСПП_5_Степурин_НСConnectionString"
            connectionString="Data Source=sql;Initial Catalog=УП_ПМ01_ИСПП_5_Степурин_НС;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>